<form [formGroup]="formLibro" (ngSubmit)="obtenerLibros()">
<div class="container">
    <h2>Libros</h2>

    <div class="input-group mb-3">
      <input 
        type="text" class="form-control" 
        placeholder="Ingrese el Id del libro a buscar" 
        aria-label="Ingrese el Id del libro a buscar" 
        aria-describedby="basic-addon2" formControlName="title">
      <div class="input-group-append">
        <button class="btn btn-outline-primary search" type="button" (click)="obtenerLibros()">Buscar</button>
      </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Autor</th>
            <th scope="col">Categoria</th>
            <th scope="col">Edición</th>
            <th scope="col">Idioma</th>
            <th scope="col">Descripción</th>
            <th scope="col">Stock</th>
            <th scope="col">Disponible</th>
            <th scope="col">Operaciones</th>
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
              <th scope="row">{{libro.id}}</th>
              <td>{{libro.title}}</td>
            <td>{{libro.date}}</td>
            <td>{{libro.author}}</td>
            <td>{{libro.category}}</td>
            <td>{{libro.edit}}</td>
            <td>{{libro.lang}}</td>
            <td>{{libro.description}}</td>
            <td>{{libro.stock}}</td>
            <td>{{libro.available}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-lg action"  [routerLink]="'/editar-libro/'+libro.id">Editar</button>
              <button type="button" class="btn btn-primary btn-lg action" (click)="eliminarLibro(libro.id)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary btn-lg action" [routerLink]="['/nuevo-libro']">Nuevo</button>
</div>
</form>
