<div class="container">
    <h2>Devolución de libro</h2>
    <div class="row">
        <div class="col-8">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Folio usuario</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el folio del usuario">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Libro Id</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese el Id del libro a prestar">
                </div>
                <button type="submit" class="btn btn-primary action">Devolver</button>
              </form>
        </div>
        <div class="col-4 foto">
            <img src="assets/img/iStock.jpg">
        </div>
    </div>  
</div>